html {
    background: black;
    color: white;
}

main {
    width: 50%;
    margin: auto;
}

#configurator {
    margin: auto;
}

#configurator h2 {
    text-align: center;
    font-size: 3.5rem;
}

#configurator form {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#configurator select, #configurator input {
    margin: 10px auto;
    padding: 5px;
    width: 50%;
}

#configurator label {
    text-align: center;
    margin: 5px 0 0 0;
}

#configurator input {
    background: red;
    border: none;
    color: white;
    cursor: pointer;
    transition: .2s;
    font-size: 1.5rem;
}

#configurator input:hover {
    transition: .2s;
    background: blue;
}