* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow: hidden;
}

main {
    min-height: 100vw;
}

:root {

}

/* ERROR BOX*/
#error {
    background-color: rgb(241, 73, 73);
    padding: 5px;
    border-left: 4px solid white;
    border-radius: 25px;
    display: none;
}

/* ERROR Messages*/

.error {
    color: white;
    margin: 10px 0;
}